/*
    daily.css - Part of the daily module for Drupal
    Copyright (c) 2004-2008  Frodo Looijaard <drupal@frodo.looijaard.name>

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
*/

.daily-calendar table {
  border-collapse: collapse;
  background-color: #eee;
  width: auto;
}
.daily-calendar td a {
  text-decoration: none;
}
.daily-calendar a:hover {
  text-decoration: none;
}
.daily-calendar td {
  text-align: center;
  border: 1px solid #888;
  padding: 1px 0;
  margin: 0;
  font-size: 0.8em;
}
.daily-calendar td div, .daily-calendar td a {
  padding: 0 6px;
}
.daily-calendar .row-week td a:hover {
  background-color: #fff;
}
.daily-calendar .header-month {
  background-color: #bbb;
  text-align: center;
}
.daily-calendar .header-week {
  background-color: #ccc;
}
.daily-calendar .row-week td a {
  display: block;
}
.daily-calendar .day-today, .daily-calendar .day-today.day-future {
  background-color: #69c;
}
.daily-calendar .day-selected {
  background-color: #369;
  color: #fff;
}
.daily-calendar .day-blank {
  background-color: #ccc;
}
.daily-calendar .day-future {
  background-color: #aaa;
}

.daily-contained {
  font-size: 95%;
  margin-left: 2%;
  margin-right: 2%;
}

.daily-empty {
  background-color: #f88;
}

/* vim:sw=2:ft=css:et
 */

